﻿@{
    ViewData["Title"] = "Adding info";
}
@model PersonInfo.Models.PersonInfoViewModel;


<form asp-antiforgery="true" asp-action="AddInfo" asp-controller="Home">
    @Html.AntiForgeryToken()
    @if (ViewBag.InvalidData != null && ViewBag.InvalidData == true)
    {
        <h2 style="color:red;">Please enter correct data</h2>
    }
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div>
            @Html.LabelFor(model => model.SecondName)
            @Html.EditorFor(model => model.SecondName)
            @Html.ValidationMessageFor(model => model.SecondName)
        </div>

        <div>
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div>
            @Html.LabelFor(model => model.BirthDate)
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div>
            @Html.LabelFor(model => model.ContactPhone)
            @Html.EditorFor(model => model.ContactPhone)
            @Html.ValidationMessageFor(model => model.ContactPhone)
        </div>

        <div>
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div>
            @Html.LabelFor(model => model.Citizenship)
            @Html.EditorFor(model => model.Citizenship)
            @Html.ValidationMessageFor(model => model.Citizenship)
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}