﻿@using PersonInfo.Paging
@model List<PersonInfoViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<h3>Personal information</h3>
<table class="table-condensed">
    <tr>
        <td>
            <a asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-sortOrder="@ViewData["LastNameOrder"]">
                Full name
            </a>
        </td>
        <td>
            <a asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-sortOrder="@ViewData["BirthDateOrder"]">
                Birth date
            </a>
        </td>
        <td>Contact phone</td>
        <td>Address</td>
        <td>Cityzenship</td>
    </tr>
    @foreach (var info in Model)
    {
    <tr>
        <td>@info.FirstName @info.SecondName @info.LastName</td>
        <td>@info.BirthDate.ToString("yyyy-MM-dd")</td>
        <td>@info.ContactPhone</td>
        <td>@info.Address</td>
        <td>@info.Citizenship</td>
    </tr>
    }
</table>

<form asp-controller="Home" asp-action="AddInfo" method="get">
    <button type="submit">Add</button>
</form>



@if (ViewBag.CountOfPages > 1)
{
    for (int i = 1; i <= ViewBag.CountOfPages; i++)
    {
        <a asp-action="Index"
           asp-route-page="@i"
           asp-route-sortOrder ="@ViewBag.SortOrder"
           class="btn btn-default btn">
            @i
        </a>
    }
    <br>
}


@if (ViewBag.CurrentPage > 1)
{
    <a asp-action="Index"
       asp-route-page="@(ViewBag.CurrentPage - 1)"
       asp-route-sortOrder ="@ViewBag.SortOrder"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (ViewBag.CurrentPage < ViewBag.CountOfPages)
{
    <a asp-action="Index"
       asp-route-page="@(ViewBag.CurrentPage + 1)"
       asp-route-sortOrder ="@ViewBag.SortOrder"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-right"></i>
        Next
    </a>
}